<p>
  <img style="text-align: center" src="../images/aizazsamuel_BnW.jpg" alt="Aizaz Samuel" height="120px">
</p>
<p><h5>This is the homepage and blog of<br/>Aizaz Samuel</h5></p>
<p><h5>PhD (Mechanical Engineering)</h5></p>
<p><h5>Data Science Enthusiast</h5></p>
<p><h5>X Senior Researcher @<br/><a href="https://www.strath.ac.uk/research/energysystemsresearchunit/">Strathclyde University, UK</a></h5></p>
<p><h5>X Industrial Associate @<br/><a href="https://www.bregroup.com/">Building Research Establishment, UK</a></h5></p>
