<div class="leftpanetext">
    <img style="text-align: center" src="../images/aizazsamuel_BnW.jpg" alt="Aizaz Samuel" height="120px">
    <p><h3>Aizaz Samuel</h3></p>
    <p><h4>PhD (Mechanical Engineering)</h4></p>
    <p><h4>Data Science Enthusiast</h4></p>
</div>
<div>
    <p><h5>X Senior Researcher @<br/><a href="https://www.strath.ac.uk/research/energysystemsresearchunit/">Strathclyde University, UK</a></h5></p>
    <p><h5>X Industrial Associate @<br/><a href="https://www.bregroup.com/">Building Research Establishment, UK</a></h5></p>
</div>
