<h5>
<a href="mailto:aizazsamuel@gmail.com" onmouseenter="darken('emailiconfooter')" onmouseleave="lighten('emailiconfooter')">
  <img id="emailiconfooter" style="opacity:0.5" height="16px" src="../images/png/004-email-1.png">
  email
</a><br/>
<a href="https://github.com/aizaz-samuel" onmouseenter="darken('githublinkfooter')" onmouseleave="lighten('githublinkfooter')">
  <img id="githublinkfooter" style="opacity:0.5" height="16px" src="../images/png/005-github-logo.png">
  github
</a><br/>
<a href="https://stackoverflow.com/users/13591395/aizazsamuel" onmouseenter="darken('stackoverflowlinkfooter')" onmouseleave="lighten('stackoverflowlinkfooter')">
  <img id="stackoverflowlinkfooter" style="opacity:0.5" height="16px" src="../images/png/003-overflowing-stacked-papers-tray.png">
  stackoverflow
</a>
</h5>
