<!DOCTYPE html>
<!--
Defaults for all web pages
liquid tags:
page.title
content

-->
	<html>
		<head>
			<title>{{ page.title }}</title>
      <!-- <link rel="icon" href="images/Az/favicon-32x32.png"> -->
      <link rel="shortcut icon" type="image/x-icon" href="images/Az/favicon-32x32.ico">
      <link rel="shortcut icon" type="image/x-icon" href="../images/Az/favicon-32x32.ico">
			<link rel="stylesheet" type="text/css" href="../css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
      <div class="container">
        <div class="leftpane">
					{% include _leftpane.html %}
        </div><!-- leftpane  -->

			  <div class="rightpane">
					<nav>
			    		<ul>
			        		<li><a href="/">Home</a></li>
				        	<li><a href="/about">About</a></li>
			        		<li><a href="/cv">Resume</a></li>
			        		<li><a href="/blog">Blog</a></li>
			    		</ul>
					</nav>
           {{ content }}
        </div><!-- rightpane  -->
      </div><!-- /.container -->
      <div style="clear: both;"></div>
			<footer>
				{% include _footer.html %}
			</footer>
		</body>
	</html>
